<div class="signup">
  <div class="row col-md-6 col-md-offset-3">
     <h1 class="sign">ãƒ¦ãƒ¼ã‚¶ãƒ¼ç™»éŒ²</h1>
    <%= form_for(@user, url:signup_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name, "ãŠåå‰" %>
      <%= f.text_field :name, class: 'form-control'  %>

      <%= f.label :email, "ãƒ¡ãƒ¼ãƒ«ã‚¢ãƒ‰ãƒ¬ã‚¹ ðŸ“§" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "ãƒ‘ã‚¹ãƒ¯ãƒ¼ãƒ‰ ðŸ”"%>
      <%= f.password_field :password, class: 'form-control'%>

      <%= f.label :password_confirmation, "ãƒ‘ã‚¹ãƒ¯ãƒ¼ãƒ‰ ðŸ”(ç¢ºèª)" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "ã‚¢ã‚«ã‚¦ãƒ³ãƒˆç™»éŒ²", class: "acount btn btn-info" %>
    <% end %>
  </div>
  <%= image_tag "mi01.jpg", class: "price2 col-xs-12" %>
</div>