<% provide(:title, 'Sign up') %>
<h1 class="sign">ãƒ¦ãƒ¼ã‚¶ãƒ¼ç™»éŒ²</h1>
<div class="siguprow">
  <div class="col-xs-6 col-xs-offset-3">
    <%= form_for(@user, url:signup_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name, "ãŠåå‰" %>
      <%= f.text_field :name, class: 'form-control'  %>

      <%= f.label :email, "ãƒ¡ãƒ¼ãƒ«ã‚¢ãƒ‰ãƒ¬ã‚¹ðŸ“§" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "ãƒ‘ã‚¹ãƒ¯ãƒ¼ãƒ‰ðŸ”"%>
      <%= f.password_field :password, class: 'form-control'%>

      <%= f.label :password_confirmation, "ãƒ‘ã‚¹ãƒ¯ãƒ¼ãƒ‰ðŸ”(ç¢ºèª)" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "ã‚¢ã‚«ã‚¦ãƒ³ãƒˆç™»éŒ²", class: "acount btn btn-info" %>
    <% end %>
  </div>
</div>